{
  "parser": "babel-eslint",
  "extends": [
    "prettier",
    "airbnb"
  ],
  "plugins": [
    "prettier",
    "react",
    "jsx-a11y",
    "import"
  ],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-use-before-define": 0
  }
}
